<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="assets/images/icon-512x512.png">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://github.com/Angular-Iran">Angular Iran in Github</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://t.me/Angular_Iran">Telegram Channel</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://t.me/joinchat/AAAAAERMCw-4Xd8UNpc8dA">Angular Iran Community</a>
    </h2>
  </li>
</ul>

<router-outlet></router-outlet>
